:root {
     --color-light: #737577;
     --color-white: #ffffff8f;
     --color-grey: #22cdeba9;
     --color-medium: #13a833b7;
     --color-dark: #141414c0;

     --spacing-small: 10px;
     --spacing-medium: 15px;
     --spacing-large: 30px;

     --border-radius: 3px;

     --linear-gradient: linear-gradient(to right, #62912c, #598b2096, #2d4710,#1a2c06);
      
      
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--color-light);
}


